<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ anime.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ anime.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Episodes</ion-label>
      <ion-note slot="end">{{ anime.episodes }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Rating</ion-label>
      <ion-note slot="end">{{ anime.rating }}</ion-note>
    </ion-item>
      <ion-item>
        <ion-label>Genres</ion-label>
        <ion-note slot="end">
          <ng-container *ngFor="let genre of anime.genres">
            {{ genre.name }}
          </ng-container>
        </ion-note>
      </ion-item>
    <ion-item>
      <ion-label>Popularity Rank</ion-label>
      <ion-note slot="end">{{ anime.popularity }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Members</ion-label>
      <ion-note slot="end">{{ anime.members }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Score</ion-label>
      <ion-note slot="end">{{ anime.score }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Rank</ion-label>
      <ion-note slot="end">{{ anime.rank }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Favorite</ion-label>
      <ion-note slot="end">{{ anime.favorites }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-img [src]="anime.images.jpg.small_image_url"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>